.toolbar {
  @apply bg-formItem2 m-0 rounded-t-md;

  * {
    @apply bg-formItem2 shadow-none cursor-pointer;
    direction: ltr;
  }
}

.wrapper {
  box-shadow: none;
}

.editor {
  @apply h-fit min-h-14 !border-4 !border-solid  !border-formItem2 !bg-background !m-0 !px-4 hover:bg-white rounded-b-md;
  * {
    direction: rtl;
  }
}
